* {
  box-sizing: border-box;
}

.animals {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 20px;  grid-gap: 20px;
}

.animal {
  text-align: center;
  width: 100px;

  h2{
    font-size: 18px;
  }

  .image {
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      background-image: url("play.png");
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: .2s opacity ease-in-out;
    }

    &:hover {
      img {
        filter: brightness(0.8);
      }
      &:after {

        opacity: 1;
      }
    }
    img{
      max-width: 100%;
      border-radius: 50%;
      border: 1px solid #ddd;
      padding: 10px;
      box-shadow: 5px 5px 10px 0 rgba(0,0,0,.2), 2px 2px 5px rgba(0,0,0,.4);
      transition: filter .3s ease-in-out;
    }
  }


}
